.App {
  padding: 60px;
  background-color: $base-background;
  line-height: 1.6;
  height: 100vh;
}

h1 {
  font-size: 45px;
}

button {
  background-color: rgb(19, 100, 23);
  font-family: $headings-font-family;
  font-size: 25px;
  color: $base-color;
  border: none;
  border-radius: 3px;
  padding: 15px 25px;
  transition: all 0.2s;
  &:hover {
    background-color: rgb(12, 88, 12);
  }
}