@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

$headings-font-family: "Courier Prime", monospace;
$headings: h1 h2 h3 h4 h5 h6;
$base-background: rgb(5, 37, 82);
$base-color: white;

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $base-background;
  height: max-content;
  color: $base-color;

  &-body {
    display: flex;
    padding: 10px 30px;
    margin-top: 30px;
  }

  &-tutorial {
    width: 50%;
    height: 70vh;
    padding: 10px;
    margin-right: 20px;
  }

  &-video {
    margin-top: 10px;
  }

  &-gamerules {
    width: 50%;
    padding: 10px;
    margin-left: 20px;
    text-align: left;
  }

  &-get-started {
    margin-bottom: 50px;
  }
  &-commands {
    border-bottom: 2px solid rgb(161, 0, 37);
  }

  @each $heading in $headings {
    #{$heading} {
      font-family: $headings-font-family;
    }
  }
  h1 {
    font-size: 45px;
  }
  button {
    background-color: rgb(19, 100, 23);
    font-family: $headings-font-family;
    font-size: 25px;
    color: $base-color;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
    transition: all 0.2s;
    &:hover {
      background-color: rgb(12, 88, 12);
    }
  }
}
