@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

$headings-font-family: "Courier Prime", monospace;
$headings: h1 h2 h3 h4 h5 h6;
$base-background: rgb(5, 37, 82);
$base-color: white;

// Tablets and small desktops
$screen-sm-min: 576px;
$screen-lg-min: 992px;

@each $heading in $headings {
  #{$heading} {
    font-family: $headings-font-family;
  }
}